<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>Olgunlar Kitabevi</h1>
    <p>Menüler</p>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>
              &copy; 2025, Kasım
        </p>
    </footer>
</body>
</html>
