<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/all.css" asp-append-version="true" />
</head>
<body>
    
    @await Html.PartialAsync("_TopMenu")
    @await Html.PartialAsync("_Brand")
    <div class="container">
        @await Html.PartialAsync("_Notification")
        @RenderBody()
    </div>
    <footer>
        <p>
              &copy; 2025, Kasım
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
