<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

    <!-- Log mesajlarının nasıl yazılacağını tanımlayan layout'lar -->
    <variable name="loglayout" value="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"/>

    <!-- Logların nereye yazılacağını belirleyen hedefler (targets) -->
    <targets>
        <!-- Dosyaya loglama -->
        <target xsi:type="File"
                name="fileTarget"
                fileName="${basedir}/logs/${shortdate}.log"
                layout="${loglayout}" />

        <!-- Konsola loglama -->
        <target xsi:type="Console"
                name="consoleTarget"
                layout="${loglayout}" />
    </targets>

    <!-- Hangi seviyedeki logların hangi hedefe yazılacağını belirleyen kurallar -->
    <rules>
        <!-- Microsoft ile başlayan tüm logları atla, en düşük seviyeye ayarla (Off) -->
        <logger name="Microsoft.*" minlevel="Trace" final="true" />

        <!-- Geliştirme ortamı için Debug ve üzeri seviyedeki tüm logları konsola yaz -->
        <logger name="*" minlevel="Debug" writeTo="consoleTarget" />

        <!-- Info ve üzeri seviyedeki tüm logları dosyaya yaz -->
        <logger name="*" minlevel="Info" writeTo="fileTarget" />
    </rules>
</nlog>